body{
    font-family: var(--mainfont);
}
.header{
   padding: 57px 0;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
   

}
.bar{
    display: none;
}

.list a{
    color: #0D0E43;
}

.header .active{
    color: var(--primary);
}

.search form{
    border: 2px solid #E7E6EF;
}
.search  input {
    border: none;
    outline: none;
    width: 250px;
    padding-left: 9px;
}

.search button{
     border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}
@media screen and (max-width:1200px){
    .list,.search{
        display: none;
    }
    .bar{
        display: block;
    }
}
 
.footer{
    background-color: #EEEFFB;
    padding: 50px 0;
}
.footer-item{
    gap: 45px;
}
.footer a,.address-info{
    color: #8A8FB9;
}
